.single-blog{
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    h1{
        font-size: 6rem;
        color: #CCD6F6;
        text-decoration: underline;
    }
    div{
        font-size: 2.5rem;
        margin-top: 3rem;
        color: #8892b0;
    }
}
