.blog{
    background-color: #26282B;
    .heading-1{
        color: #CCD6F6;
        font-size: 12rem;
        display: flex;
        border-bottom: 1px solid #8892B0;
        padding: 5rem 0;
        span{
            width: 50%;
            margin: auto;
        }
    }
    &__items{
        width: 50%;
        margin: auto;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 5rem;
        &--item{
            background-color: #2A2C2F;
            padding: 2rem;
            h3{
                font-size: 1.8rem;
                color: #CCD6F6;
            }
            p{
                margin-top: 1.5rem;
                font-size: 1.4rem;
                color: #8892b0;
                margin-bottom: 1.5rem;
            }
            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    font-size: 1.4rem;
                    text-decoration: none;
                    color: #5f85db;
                }
                svg{
                    color: #CCD6F6;
                    height: 1.2rem;
                }
                .actions{
                    display: flex;
                    column-gap: 2rem;
                    align-items: center;
                    div{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.add-blog{
    position: fixed;
    background-color: #5F85DB;
    border: none;
    border-radius: 50%;
    font-size: 4rem;
    font-weight: 600;
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    left: 95%;
    top: 90%;
    cursor: pointer;
}
