header{
    width: 100%;
    background-color: #26282B;
    padding: 2rem;
    z-index: 1;
    .nav{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        &__logo{
            font-size: 2.4rem;
            color: #CCD6F6;
            font-weight: 600;
        }
        &__links{
            display: flex;
            column-gap: 2rem;
            list-style: none;
            font-size: 1.4rem;
            align-items: center;
            a{
                color: #CCD6F6;
                text-decoration: none;
            }
        }
        .login-btn{
            background-color: #5F85DB;
            a{
                color: white;
            }
            padding: .8rem 1rem;
            font-weight: 800;
        }
    }
}
